{% extends 'backend/base.html' %}
{% load static %}
{% block title %}View Products{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Update /</span> Password
    </h4>
    <div class="row">
      <div class="col-lg-8 mb-4 order-0">
        <div class="card">
          <h5 class="card-header"> Change Password</h5>
          <div class="card-body">
            <!-- {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
            {% endif %} -->
            
            <form method="post" >
                {% csrf_token %}
                {{ pass_key.as_p }}
                    <input type="submit" value="Change Password" class="btn btn-success">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}