{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
NOMAD-CAMEL
{% endblock %}

{% block content %}




<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-lg-8 mb-4 order-0">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">Welcome {{ user.username}}! 🎉</h5>
                <p class="mb-4">
                  Our power banks are designed to be your trusted companions, providing fast and reliable charging whenever and wherever you need it.
                </p>
              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img src="{% static 'backend/assets/img/illustrations/powerbank.png' %}" height="200"
                  alt="View Badge User" data-app-dark-img="illustrations/powerbank-dark.png"
                  data-app-light-img="illustrations/powerbank.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 order-1">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                    <i class="bx bx-heart-circle" style="color: green;"></i>
                  </div>
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                      <a class="dropdown-item" href="{% url 'backend:wish' %}">View</a>
                    </div>
                  </div>
                </div>
                <span class="fw-semibold d-block mb-1">Wishlist</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-6 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                  <div class="avatar flex-shrink-0">
                    <i class="bx bx-cart" style="color: green;"></i>
                  </div>
                  <div class="dropdown">
                    <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                      <a class="dropdown-item" href="{% url 'backend:cart_detail' %}">View</a>
                    </div>
                  </div>
                </div>
                <span>Cart</span>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if user.is_superuser %}
      <!-- List All Product -->
      <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
        <div class="card">
          <div class="row row-bordered g-0">
            <div class="col-md-12">
              <h5 class="card-header m-0 me-2 pb-3">List Of All Product</h5>
              <div class="table-responsive text-nowrap">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Price</th>
                      <th>Qty</th>
                      <th>Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in products %}
                    <tr>
                      <td><strong>{{ product.name }}</strong></td>
                      <td><img src="{{ product.main_image.url }}" width="50" height="50" /></td>
                      <td>₦{{ product.price }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>
                        {% if product.is_active %}
                        <span class="badge bg-label-success me-1">Active</span>
                        {% else %}
                        <span class="badge bg-label-warning me-1">Inactive</span>
                        {% endif %}
                      </td>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-sm p-0 dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a class="dropdown-item" href="{% url 'backend:edit-product' product.pk %}">
                                <i class="bx bx-edit-alt me-1"></i> Edit
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="{% url 'backend:delete-product' product.pk %}">
                                <i class="bx bx-trash me-1"></i> Delete
                              </a>
                            </li>
                          </ul>
                        </div>
    
                      </td>
                    </tr>
                    {% empty %}
                    <tr>
                      <td colspan="5" class="text-center">No products found.</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                
                </table>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <!--/ Total Revenue -->
      <!-- Transactions -->
      <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
        <div class="card h-100">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2">Transactions</h5>
            <div class="dropdown">
              <button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="p-0 m-0">
              <!-- <li class="d-flex mb-4 pb-1">
                <div class="avatar flex-shrink-0 me-3">
                  <img src="{% static 'backend/assets/img/icons/unicons/paypal.png' %}" alt="User" class="rounded" />
                </div>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                  <div class="me-2">
                    <small class="text-muted d-block mb-1">Paypal</small>
                    <h6 class="mb-0">Send money</h6>
                  </div>
                  <div class="user-progress d-flex align-items-center gap-1">
                    <h6 class="mb-0">+82.6</h6>
                    <span class="text-muted">USD</span>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      <!--/ Transactions -->
    </div>
    <div class="row">



    </div>
  </div>
  <!-- / Content -->

  <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->

<!-- / Layout wrapper -->



{% endblock %}