{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr"
      data-theme="theme-default"
      data-assets-path="{% static 'backend/assets/' %}"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>NOMAD-CAMEL - Reset Password</title>
    <link rel="icon" type="image/x-icon" href="{% static 'frontend/images/icons/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'backend/assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/assets/vendor/css/core.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/assets/vendor/css/theme-default.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/assets/css/demo.css' %}" />
    <link rel="stylesheet" href="{% static 'backend/assets/vendor/css/pages/page-auth.css' %}" />
    <script src="{% static 'backend/assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'backend/assets/js/config.js' %}"></script>
</head>

<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-2">Set a New Password 🔐</h4>

                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="mb-3">
                                <label for="{{ form.new_password1.id_for_label }}" class="form-label">New Password</label>
                                {{ form.new_password1 }}
                                {{ form.new_password1.errors }}
                            </div>

                            <div class="mb-3">
                                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirm Password</label>
                                {{ form.new_password2 }}
                                {{ form.new_password2.errors }}
                            </div>

                            <button class="btn btn-primary d-grid w-100" type="submit">Change Password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'backend/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'backend/assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'backend/assets/js/main.js' %}"></script>
</body>
</html>
