{% load static %}
<!DOCTYPE html>


<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default"
  data-assets-path="{% static 'backend/assets/' %}" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>
    {% block title %}
    NOMAD-CAMEL
    {% endblock %}
  </title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'frontend/images/icons/favicon.png' %}" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="{% static 'backend/assets/vendor/fonts/boxicons.css' %}" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'backend/assets/vendor/css/core.css' %}"
    class="template-customizer-core-css" />
  <link rel="stylesheet" href="{% static 'backend/assets/vendor/css/theme-default.css' %}"
    class="template-customizer-theme-css" />
  <link rel="stylesheet" href="{% static 'backend/assets/css/demo.css' %}" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="{% static 'backend/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

  <!-- Page CSS -->
  <!-- Page -->
  <link rel="stylesheet" href="{% static 'backend/assets/vendor/css/pages/page-auth.css' %}" />
  <!-- Helpers -->
  <script src="{% static 'backend/assets/vendor/js/helpers.js' %}"></script>

  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="{% static 'backend/assets/js/config.js' %}"></script>
</head>

<body>
  <!-- Content -->

  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register Card -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="{% url 'index' %}" class="app-brand-link gap-2">
                <span class="app-brand-logo demo">
                  <img src="{% static 'frontend/images/icons/logo-01.png' %}" alt="IMG-LOGO" style="width: 60px;">
                </span>
                <span class="app-brand-text text-body fw-bolder">NOMAD-CAMEL</span>
              </a>
            </div>
            <!-- /Logo -->
          <h4 class="mb-2">Create your account 🎉</h4>
<p class="mb-4">Join NOMAD-CAMEL today and start your journey!</p>

            <!-- Django form -->
            <form id="formAuthentication" class="mb-3" method="POST" enctype="multipart/form-data">
              {% csrf_token %}

              {% if request.resolver_match.url_name == 'register' %}
              {% if form.errors %}
              <div class="alert alert-danger">
                {% for field in form %}
                {% for error in field.errors %}
                <p>{{ field.label }}: {{ error }}</p>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
              </div>
              {% endif %}
              {% endif %}

              <div class="row">
                <div class="mb-3 col-md-6">
                  {{ form.username.label_tag }}
                  {{ form.username }}
                  {% for error in form.username.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>

                <div class="mb-3 col-md-6">
                  {{ form.email.label_tag }}
                  {{ form.email }}
                  {% for error in form.email.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6">
                  {{ form.first_name.label_tag }}
                  {{ form.first_name }}
                  {% for error in form.first_name.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>

                <div class="mb-3 col-md-6">
                  {{ form.last_name.label_tag }}
                  {{ form.last_name }}
                  {% for error in form.last_name.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6">
                  {{ form.phone.label_tag }}
                  {{ form.phone }}
                  {% for error in form.phone.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>

                <div class="mb-3 col-md-6">
                  {{ form.gender.label_tag }}
                  {{ form.gender }}
                  {% for error in form.gender.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-md-6">
                  Password:
                  {{ form.password1 }}
                  {% for error in form.password1.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>

                <div class="mb-3 col-md-6">
                  Confirm Password:
                  {{ form.password2 }}
                  {% for error in form.password2.errors %}
                  <small class="text-danger">{{ error }}</small>
                  {% endfor %}
                </div>
              </div>

              <div class="mb-3">
                {{ form.accept_terms }}
                {{ form.accept_terms.label_tag }}
                {% for error in form.accept_terms.errors %}
                <small class="text-danger">{{ error }}</small>
                {% endfor %}
              </div>

              <!-- <div class="mb-3">
                {{ form.profile_photo.label_tag }}
                {{ form.profile_photo }}
                {% for error in form.profile_photo.errors %}
                <small class="text-danger">{{ error }}</small>
                {% endfor %}
              </div> -->

              <button type="submit" class="btn btn-primary d-grid w-100">Sign up</button>
            </form>



            <p class="text-center">
              <span>Already have an account?</span>
              <a href="{% url 'backend:login_view' %}"><span>Sign in instead</span></a>
            </p>
          </div>
        </div>
        <!-- /Register Card -->
      </div>
    </div>
  </div>


  <!-- / Content -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{% static 'backend/assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'backend/assets/vendor/libs/popper/popper.js' %}"></script>
  <script src="{% static 'backend/assets/vendor/js/bootstrap.js' %}"></script>
  <script src="{% static 'backend/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'backend/assets/vendor/js/menu.js' %}"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->

  <!-- Main JS -->
  <script src="{% static 'backend/assets/js/main.js' %}"></script>

  <!-- Page JS -->

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>