{% extends 'backend/base.html' %}
{% load static %}
{% block title %}View Products{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Content -->

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <span class="text-muted fw-light">Track /</span> Orders
    </h4>
    <div class="row">
      <div class="col-lg-12 mb-6 order-0">
        <div class="card">
          <h5 class="card-header"> View Orders</h5>
          
        </div>
      </div>
    </div>
  </div>
</div>
    
{% endblock %}