{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %}
    NOMAD-CAMEL
{% endblock %}

{% block content %}	


	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-t-92 p-b-40" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center" style="color: green;">
			About
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-5 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Story
						</h3>

						<p class="stext-113 cl6 p-b-26">
							NOMAD-CAMEL is a brand that's all about empowering adventurers and individuals on-the-go to stay connected and explore the world without limits. We believe in delivering cutting-edge technology that keeps pace with your dynamic lifestyle. Our power banks are designed to be your trusted companions, providing fast and reliable charging whenever and wherever you need it. With a focus on innovation and quality, we're committed to pushing the boundaries of what's possible with portable power. Whether you're a traveler, outdoor enthusiast, or just someone who needs a reliable power source, we're here to help you stay powered up and connected.

						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'frontend/images/about-01.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Mission
						</h3>

						<p class="stext-113 cl6 p-b-26">
							
							At NOMAD-CAMEL, we're passionate about creating products that meet the needs of our customers. Our power banks feature massive capacity, fast charging capabilities, and smart safety protection, ensuring that your devices stay powered up and safe. With sleek and compact designs, our power banks are built for everyday use and fit easily into your bag. We're committed to providing trusted quality with a 365-day warranty, giving you peace of mind and confidence in our products. Join the NOMAD-CAMEL community and discover a world where staying powered and connected is never a problem. With NOMAD-CAMEL, you can stay free, stay powered, and explore the world without limits.
						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							

							<span class="stext-111 cl8">
								- NOMAD-CAMEL
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'frontend/images/about-02.jpg' %}" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	{% endblock %}