{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}
Product Detail - NOMAD CAMEL
{% endblock %}

{% block content %}

<!-- Title Page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'frontend/images/bg-01.jpg' %}');">
	<h2 class="ltext-105 cl0 txt-center">
		Product Details
	</h2>
</section>

<!-- Product Detail Section -->
<section class="bg0 p-t-65 p-b-60">
	<div class="container">
		<div class="row">
			{% if det %}
			<!-- Product Images -->
			<div class="col-12 col-md-6 p-b-30">
				<div class="p-lr-15">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">
							
								<!-- Main Image first -->
								{% if det.main_image %}
								<div class="item-slick3" data-thumb="{{ det.main_image.url }}">
									<div class="wrap-pic-w pos-relative">
										<img class="img-fluid" src="{{ det.main_image.url }}" alt="{{ det.name }}">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ det.main_image.url }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endif %}

								<!-- Extra Images -->
								{% for img in det.images.all %}
								<div class="item-slick3" data-thumb="{{ img.image.url }}">
									<div class="wrap-pic-w pos-relative">
										<img class="img-fluid" src="{{ img.image.url }}" alt="{{ det.name }}">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ img.image.url }}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endfor %}
						

						</div>
					</div>
				</div>
			</div>

			<!-- Product Info -->
			<div class="col-12 col-md-6 p-b-30">
				<div class="p-lr-15">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						{{ det.name }}
					</h4>

					<span class="mtext-106 cl2 d-block mb-2">
						₦{{ det.price }}
					</span>

					<p class="stext-102 cl3 p-t-10">
						{{ det.description }}
					</p>

					<!-- Add to Cart -->
					<div class="p-t-25">
						<form method="POST" action="{% url 'backend:cart' det.id %}">
							{% csrf_token %}
							<div class="form-group mb-3">
								<label for="quantity" class="stext-102 cl3">Quantity</label>
								<input type="number" name="quantity" min="1" value="1" class="form-control" style="max-width: 120px;">
							</div>

							<button type="submit" class="btn flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail w-100">
								Add to Cart
							</button>
						</form>
					</div>

					<!-- Social Icons & Wishlist -->
					<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#"
										class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
										data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
									data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>


							</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}
